body {
  margin: 0;
  background-color: #758290;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.categoriesProduits {
    float: left;
    width: 30%;
    min-height: 85vh;
    padding: 20px;
}

.presentationProduits {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5vh;
}

.objetProduitVide {
  width: 45%;
  min-width: 430px;
  padding: 20px;
  margin: 10px;
  background-color: #758290;
}

.objetProduit {
  width: 45%;
  min-width: 430px;
  min-height: 165px;
  padding: 20px;
  margin: 12px;
  display: flex;
  background-color: #fffffe;
}

.objetProduit img {
  width: 50%;
}

.descriptionProduit {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.boutonProduit {
  width: 185px;
}

.connexionForm {
  width: 400px;
  margin-top: 30vh;
  padding: 20px;
  border: 1px solid #4a4a4a;
  border-radius: 10px;
}

.connexionIcon {
  color: white;
}

.connexionIcon:hover {
  color: yellow;
  text-decoration: none;
}

.connexionIcon:active {
  color: yellow;
}

.items {
  width: 300px;
  background: #fffffe;
  border-top: 10px solid #ffc107;
  margin: 0 auto;
  min-height: 500px;
}

.items-head p{
  padding: 5px 20px;
  margin: 10px;
  color: #343a40;
  font-weight: bold;
  font-size: 20px;
}

.items-head hr {
  width: 20%;
  margin: 0px 30px;
  border: 1px solid #ffc107;
}

.items-body {
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-gap: 10px;
}

.items-body-content {
  padding: 10px;
  padding-right: 0px;
  display: grid;
  grid-template-columns: 10fr 1fr;
  font-size: 13px;
  grid-gap: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  color: #343a40;
}

.items-body-content:hover {
  border-radius: 15px;
  border: 1px solid #ffc107;
}

.items-body-content i {
  align-self: center;
  font-size: 15px;
  color: #ffc107;
  font-weight: bold;
  animation: icon 1.5s infinite forwards;
}

@keyframes icon {
  0%,100%{
    transform: translate(0px);
  }
  50% {
    transform: translate(3px);
  }
  
}

.detailProduit {
  margin-top: 5vh;
  width: 70%;
  padding: 20px;
  display: flex;
}

.viewportPanier {
  width: 90%;
  margin: 5vh auto;
}

.element {
  background-color: white;
  height: 80vh;
}

.menuPanier {
  height: 80%;
  overflow: auto;
}


@keyframes ldio-9zwbyfull3h-1 {
  0% { transform: rotate(0deg) }
 50% { transform: rotate(-45deg) }
100% { transform: rotate(0deg) }
}
@keyframes ldio-9zwbyfull3h-2 {
  0% { transform: rotate(180deg) }
 50% { transform: rotate(225deg) }
100% { transform: rotate(180deg) }
}
.ldio-9zwbyfull3h > div:nth-child(2) {
transform: translate(-15px,0);
}
.ldio-9zwbyfull3h > div:nth-child(2) div {
position: absolute;
top: 40px;
left: 40px;
width: 120px;
height: 60px;
border-radius: 120px 120px 0 0;
background: #ffc107;
animation: ldio-9zwbyfull3h-1 0.9900990099009901s linear infinite;
transform-origin: 60px 60px
}
.ldio-9zwbyfull3h > div:nth-child(2) div:nth-child(2) {
animation: ldio-9zwbyfull3h-2 0.9900990099009901s linear infinite
}
.ldio-9zwbyfull3h > div:nth-child(2) div:nth-child(3) {
transform: rotate(-90deg);
animation: none;
}@keyframes ldio-9zwbyfull3h-3 {
  0% { transform: translate(190px,0); opacity: 0 }
 20% { opacity: 1 }
100% { transform: translate(70px,0); opacity: 1 }
}
.ldio-9zwbyfull3h > div:nth-child(1) {
display: block;
}
.ldio-9zwbyfull3h > div:nth-child(1) div {
position: absolute;
top: 92px;
left: -8px;
width: 16px;
height: 16px;
border-radius: 50%;
background: #c56b38;
animation: ldio-9zwbyfull3h-3 0.9900990099009901s linear infinite
}
.ldio-9zwbyfull3h > div:nth-child(1) div:nth-child(1) { animation-delay: -0.6767000000000001s }
.ldio-9zwbyfull3h > div:nth-child(1) div:nth-child(2) { animation-delay: -0.33330000000000004s }
.ldio-9zwbyfull3h > div:nth-child(1) div:nth-child(3) { animation-delay: 0s }
.loadingio-spinner-bean-eater-3poewpxqbju {
width: 200px;
height: 200px;
display: inline-block;
overflow: hidden;
background: #758290;
}
.ldio-9zwbyfull3h {
width: 100%;
height: 100%;
position: relative;
transform: translateZ(0) scale(1);
backface-visibility: hidden;
transform-origin: 0 0; /* see note above */
}
.ldio-9zwbyfull3h div { box-sizing: content-box; }
/* generated by https://loading.io/ */


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 30px;
}
.lds-ellipsis div {
  position: absolute;
  top: 14px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
